<div class="product px-3 py-4 rounded-2">
<a [routerLink]="['/productDetails',product.id]">
  <img class="w-100" [src]="product.imageCover" alt="">
  <p class="text-main">{{product.category.name}}</p>
<div class="title d-flex  align-items-center">
  <h2 class="h6" *ngIf="fullTitle">{{product.title}}
    <span class="cursor-pointer  d-inline" (click)="displayFullTitle($event)" *ngIf="product.title.split(' ').length>2">...</span>
  </h2>
  <h2 class="h6" *ngIf="!fullTitle" >{{product.title | trim :2}}
    <span class="cursor-pointer  d-inline" (click)="displayFullTitle($event)" *ngIf="product.title.split(' ').length>2">...</span>
  </h2>
  
</div>
  <div class="d-flex justify-content-between">
      <span>{{product.price}} EGP</span>
      <div>
          <i class="fa fa-star rating-color"></i>
          {{product.ratingsAverage}}
          
      </div>
  </div>
</a>

<span class="d-flex flex-row-reverse ms-4">
  <i  *ngIf="!wishArr.includes(product.id)" class="fa-solid fa-heart fs-4" (click)="addToWishList(product.id)"></i>
</span>
<span class="d-flex flex-row-reverse ms-4">
  <i *ngIf="wishArr.includes(product.id)" class="fa-solid fa-heart text-danger fs-4" (click)="removeFromWishList(product.id)"></i>
</span>

    <button class="btn bg-main w-75 text-white mx-auto d-block" (click)="addToCart(product.id)">+ Add</button>
</div>


