<div class="container">
    
    <h1 class="text-main text-center mb-5">All Brands</h1>
    <div class="row g-3">
        <div class="col-md-3" *ngFor="let brand of brands">
            <app-brand-item (click)="openModal()" [brand]="brand" (image)="getImg($event)" (name)="getName($event)" (slug)="getSlug($event)"></app-brand-item>
        </div>
    </div>
</div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             <div class="row align-items-center">
                <div class="col-md-6 ">
                    <h1 class="text-main fw-bolder">{{name}}</h1>
                    <p>{{slug}}</p>
                </div>
                <div class="col-md-6">
                    <img [src]="img" class="w-100" alt="logo">
                </div>
             </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="doSomething()" >Close</button>
            </div>
          </div>
        </div>
      </div>